---
import { Image } from "astro:assets";
import type { ResumeItem } from "../types/config";

type Props = ResumeItem;

const { title, company, date } = Astro.props;
---

<a
  href={company.url}
  class="py-3 flex items-center justify-between group-hover:opacity-70 hover:!opacity-100 transition-opacity"
>
  <div class="flex items-center gap-4">
    <Image
      src={company.image}
      alt={company.name}
      width={200}
      height={200}
      class="rounded-full w-[40px] h-[40px] object-cover"
    />
    <div>
      <h3 class="font-medium">{title}</h3>
      <p class="text-sm opacity-70">{company.name}</p>
    </div>
  </div>
  <p class="text-sm opacity-70">{date}</p>
</a>
